.new-tweet {
  background: #eee;
  border-radius: 5px;
  border: 1px solid lightgrey;
  padding: 10px;
  top: 10px;
}

.new-tweet .counter {
  float: right;
  font-size: 0.75em;
}

.new-tweet h2 {
  border-bottom: 1px solid black;
  text-align: left;
  margin: 0;
  margin-bottom: 1em;
}

.new-tweet textarea {
  width: 100%;
  padding: 10px;
  resize: 0;
}

.new-tweet input[type=submit] {
  
}



.tweet {
  background: white;
  border-radius: 5px;
  border: 1px solid lightgrey;
}

.tweet header {
  clear: both;
}

.tweet .bunny {
  height: 60px;
  float: left;
  padding: 10px;
} 

.tweet h2 {
  text-align: left;
  margin: 0;
  padding: 10px;
  background: #eee;
  height: 60px;

}

.tweet header h2 .at-user {
  font-size: 10px;
  font-weight: lighter;
  float: right;
}
.tweet .tweet-content{
  padding: 10px;
}

.tweet footer {
  text-align: left;
  margin: 0;
  border-top: .1px solid #eee;
  padding: 10px;
  font-size: smaller;
}

.tweet footer .icon {
  height: 15px;
  padding: 2px;
  float: right;
  visibility: hidden;
}  
.tweet:hover .icon{
  visibility: visible;
}
